<!DOCTYPE html>
<html>
<head>
  <title>Shopify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <a class="brand" href="/">Contestapp</a>
<div class="container-fluid nav-collapse">
<ul class="nav">
<li><%= link_to "Accounts", accounts_path%></li>
</ul>
</div><!--/.nav-collapse -->

<%= yield %>

</body>
</html>
